{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<h2 class="h3 mb-3 font-weight-normal">Connexion</h2>

<form method="post" class="pure-form pure-form-stacked">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    {% if app.user %}
        <span class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </span>
    {% endif %}
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <label>
        <input type="checkbox" name="_remember_me">
        Restez connecté ? 
    </label>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {# 
https://symfony.com/doc/current/form/form_customization.html#form-rendering-functions

form_rest(form_view, variables)
This renders all fields that have not yet been rendered for the given form. 
It's a good idea to always have this somewhere inside your form as it'll render hidden fields for you 
and make any fields you forgot to render easier to spot (since it'll render the field for you).
{{ form_rest(form) }}
#}



    <button class="btn btn-lg" id="loginBtn" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
