{% extends 'base.html.twig' %}

{% block title %}Liste des métiers{% endblock %}

{% block body %}
    <h1>Liste des métiers</h1>

    <div class="btnContainer">
        <a href="{{ path('app_metier_new') }}">
            <button>Creer un nouveau métier</button>
        </a>
    </div>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>

                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for metier in metiers %}
            <tr>
                <td>{{ metier.nom }}</td>
                <td>{{ metier.description }}</td>
                <td>
                    <a href="{{ path('app_metier_show', {'id': metier.id}) }}">
                        <button>
                            <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                            Afficher
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_metier_edit', {'id': metier.id}) }}">
                        <button>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            Modifier
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
