{% extends 'base.html.twig' %}

{% block title %}Liste des métiers{% endblock %}

{% block body %}
    <h1>Liste des métiers</h1>

    <a href="{{ path('app_metier_new') }}">Creer un nouveau métier</a>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>

                <th colspan="2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metier in metiers %}
            <tr>
                <td>{{ metier.nom }}</td>
                <td>{{ metier.description }}</td>
                <td>
                    <a href="{{ path('app_metier_show', {'id': metier.id}) }}">Afficher</a>
                </td>
                <td>
                    <a href="{{ path('app_metier_edit', {'id': metier.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
