{% extends 'base.html.twig' %}

{% block title %}Éditeurs{% endblock %}

{% block body %}
    <h2 class="titreIndex">Liste des Éditeurs</h2>
    <div class="btnContainer">
        <a href="{{ path('app_editeur_new') }}">
            <button>Créer Nouvel Éditeur</button>
        </a>
    </div>
    
    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td class="tdIndex">{{ editeur.nom }}</td>
                <td class="tdIndex">{{ editeur.prenom }}</td>
                <td class="tdIndex">{{ editeur.user.email }}</td>
                <td class="column btnTdIndex">
                    <a href="{{ path('app_editeur_show', {'id': editeur.id}) }}">
                        <button class="afficherBtn">
                            <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                            Afficher
                        </button>
                    </a>
                    <a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">
                        <button>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            Modifier
                        </button>   
                    </a>             
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
