{% extends 'base.html.twig' %}

{% block title %}Éditeur{% endblock %}

{% block body %}
    <h1>{{ editeur.nom }} {{ editeur.prenom }}</h1>

    <a href="{{ path('app_editeur_index') }}">
        <button class="previousBtn">Précédent</button>
    </a>
    
    <table class="table pure-table pure-table-horizontal">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ editeur.user.email }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btnContainer">
        <a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">
            <button >Modifier</button>
        </a>
    </div>

    {{ include('editeur/_delete_form.html.twig') }}
{% endblock %}
