{% extends 'base_front.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_front') }}">
            <button class="previousBtn">Précédent</button>
        </a>

        <h1>Articles</h1>
    </div>

    <section id="sectionArticles">
        {% for article in articles %}
            <div class="articleCard">
                <div id="cardContainer">
                    <div class="articleCardImg">
                        {% if article.imageName %}
                            <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ article.alt }} "/>
                        {% endif %}
                    </div>
                    <div class="articleCardTxt">
                        <p>{{ article.titre }}</p>
                        <p>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</p>    
                    </div>
                    <a href="{{ path('app_front_articles_show', {'id': article.id}) }}" target="_blank">
                        <button> Voir plus</button>
                    </a>
                </div>
            </div>
        {% else %}
                <p colspan="8">Aucun article n'a été trouvé</p>
        {% endfor %}
    </section>

{% endblock %}
