{% extends 'base_front.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<main id="main">
    <div class="topContainer">
        <div><button class="previousBtn" onclick="window.location.href ='{{ path('app_front') }}'" aria-label="Précédent">Précédent</button></div>

        <h1>Articles</h1>
    </div>

    <section id="sectionArticles">
        {% for article in articles %}
            <div  role="link" class="articleCard">
                <a href="{{ path('app_front_articles_show', {'id': article.id}) }}" target="_blank">
                    <div id="cardContainer">
                        {% if article.imageName %}
                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.alt }} "/>
                            <div class="articleCardTxt">
                                <p>{{ article.titre }}</p>
                                <p>
                                <i class="fa-regular fa-calendar-days"></i>
                                {{ article.createdAt ? article.createdAt|date('d M y') : '' }}</p>    
                            </div>
                        {% endif %}
                        {% if not article.imageName %}
                            <div class="articleCardWithoutImg">
                                <p>{{ article.titre }}</p>
                                <p>{{ article.resume | u.truncate(30, '...') }}</p>
                                <p>
                                    <i class="fa-regular fa-calendar-days"></i>
                                    {{ article.createdAt ? article.createdAt|date('d M y') : '' }}</p>    
                            </div>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% else %}
                <p colspan="8">Aucun article n'a été trouvé</p>
        {% endfor %}
    </section>
</main>
{% endblock %}
