{% extends 'base_front.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<main id="main" class="frontArticles">
    <div class="topContainer">
        <div><button class="previousBtnFront" onclick="window.location.href ='{{ path('app_front_articles') }}'" aria-label="Vers tous les articles">Précédent</button></div>

        <h2>{{ article.titre }}</h2>
    </div>
    

    <section>
        {% if article.imageName %}
            <div class="imgContainer">
                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('webp_80') }}" alt="{{ article.alt }} "/>
            </div>
        {% endif %}

        <article>
            {{ article.contenu |raw }}
            <div>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</div>
        </article>
    </section>
</main>

{% endblock %}
