{% extends 'base_front.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_front_articles') }}">
            <button class="previousBtn">Précédent</button>
        </a>
        <h1>{{ article.titre }}</h1>
    </div>
    

    <section>
        {% if article.imageName %}
            <div class="imgContainer">
                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.alt }} "/>
            </div>
        {% endif %}

        <article>
            {{ article.contenu |raw }}
            <div>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</div>
        </article>
    </section>


{% endblock %}
