{% extends 'base.html.twig' %}

{% block title %}Modifier Faq {{ faq.id }}{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_faq_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>

        <h2>Modifier Faq {{ faq.id }}</h2>
    </div>
    

    {{ include('faq/_form.html.twig') }}
    {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
