{% extends 'base.html.twig' %}

{% block title %}Liste FAQ{% endblock %}

{% block body %}
    <h1>Liste des FAQ</h1>
   
    <div class="newBtn">
        <a href="{{ path('app_faq_new') }}">
            <button>Creer une nouvelle FAQ</button>
        </a>
    </div>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Question</th>
                <th>Reponse</th>
                <th colspan="2" >actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ faq.question }}</td>
                <td>{{ faq.reponse }}</td>
                <td>
                    <button>
                        <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                        <a href="{{ path('app_faq_show', {'id': faq.id}) }}">Afficher</a>
                    </button>
                </td>
                <td>
                    <button>
                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                        <a href="{{ path('app_faq_edit', {'id': faq.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune FAQ existante</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
