{{ form_start(form, {'attr': {'id' : 'praticienForm'}}) }}

    {{form_errors(form)}}

    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_help(form.nom) }}

    {{ form_label(form.prenom) }}
    {{ form_widget(form.prenom) }}
    {{ form_help(form.prenom) }}
    
    {{ form_label(form.lienRdv) }}
    {{ form_widget(form.lienRdv) }}
    {{ form_help(form.lienRdv) }}
    {{ form_rest(form) }}

    <div class="saveBtn">
        <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}