{% extends 'base.html.twig' %}

{% block title %}Praticiens{% endblock %}

{% block body %}
    <h2 class="titreIndex">Praticiens</h2>

    <div class="btnContainer">
        <a href="{{ path('app_praticien_new') }}">
            <button>Créer un Praticien</button>
        </a>
    </div>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>LienRdv</th>
                <th>Métier(s)</th>
                <th>Jours off</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for praticiensMetiers in praticiensMetiers %}
            <tr>
                <td class="tdIndex">{{ praticiensMetiers.praticien.prenom }}</td>
                <td class="tdIndex">{{ praticiensMetiers.praticien.nom }}</td>

                {% if praticiensMetiers.praticien.lienRdv %}
                    <td class="tdIndex">{{ praticiensMetiers.praticien.lienRdv | u.truncate(20, '...') }}</td>
                {% else %}
                    <td class="tdIndex">{{ "03.21.75.94.84" }}</td>
                {% endif %}

                <td class="tdIndex">
                    {{ praticiensMetiers.metiers|join(', ')}}
                </td>

                <td class="tdIndex">
                    {{ praticiensMetiers.praticien.joursOff }}
                </td>

                <td class="column btnTdIndex">
                    <a href="{{ path('app_praticien_show', {'id': praticiensMetiers.praticien.id}) }}">
                        <button class="afficherBtn">
                            <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                            Afficher
                        </button>
                    </a>
                    <a href="{{ path('app_praticien_edit', {'id': praticiensMetiers.praticien.id}) }}">
                        <button>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            Modifier
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
