{% extends 'base.html.twig' %}

{% block title %}Praticien index{% endblock %}

{% block body %}
    <h1>Liste des praticiens</h1>

        <a href="{{ path('app_praticien_new') }}">
            <button>Creer un nouveau praticien</button>
        </a>


    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>LienRdv</th>
                <th colspan="2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for praticien in praticiens %}
            <tr>
                <td>{{ praticien.prenom }}</td>
                <td>{{ praticien.nom }}</td>
                <td>{{ praticien.lienRdv ? (praticien.lienRdv) : "03.21.75.94.84" }}</td>
                <td>
                    <a href="{{ path('app_praticien_show', {'id': praticien.id}) }}">
                        <button>Afficher</button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}">
                        <button>Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
