{% extends 'base.html.twig' %}

{% block title %}Praticien index{% endblock %}

{% block body %}
    <h1>Liste des praticiens</h1>

    <div class="btnContainer">
        <a href="{{ path('app_praticien_new') }}">
            <button>Creer un nouveau praticien</button>
        </a>
    </div>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>LienRdv</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for praticien in praticiens %}
            <tr>
                <td>{{ praticien.prenom }}</td>
                <td>{{ praticien.nom }}</td>
                <td>{{ praticien.lienRdv ? (praticien.lienRdv) : "03.21.75.94.84" }}</td>
        
                {# <td>{{ metiers.nom }}</td>
                <td>{{ metiers.description }}</td> #}
                <td>
                    <a href="{{ path('app_praticien_show', {'id': praticien.id}) }}">
                        <button>
                            <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                            Afficher
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}">
                        <button>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            Modifier
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
