{% extends 'base.html.twig' %}

{% block title %}Praticien index{% endblock %}

{% block body %}
    <h2 class="titreIndex">Liste des praticiens</h2>

    <div class="btnContainer">
        <a href="{{ path('app_praticien_new') }}">
            <button>Créer un praticien</button>
        </a>
    </div>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>LienRdv</th>
                <th>Métier(s)</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for praticien in praticiens %}
            <tr>
                <td class="tdIndex">{{ praticien.prenom }}</td>
                <td class="tdIndex">{{ praticien.nom }}</td>

                {% if praticien.lienRdv %}
                    <td class="tdIndex">{{ praticien.lienRdv | u.truncate(20, '...') }}</td>
                {% else %}
                    <td class="tdIndex">{{ "03.21.75.94.84" }}</td>
                {% endif %}

{#* ::::::::::::::::::::::::::::::  LES METIERS S'AFFICHENT PAS ::::::::::::::::::::::::::::::::::  #}
                <td class="tdIndex">
                    {% for metiers in praticien %}
                        {{ praticien.metiers.nom | u.truncate(20, '...') }}
                    {% endfor %}
                </td>
{#* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  #}

                <td class="column btnTdIndex">
                    <a href="{{ path('app_praticien_show', {'id': praticien.id}) }}">
                        <button class="afficherBtn">
                            <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                            Afficher
                        </button>
                    </a>
                    <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}">
                        <button>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            Modifier
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
