{% extends 'base.html.twig' %}

{% block title %}Praticien index{% endblock %}

{% block body %}
    <h1>Praticien index</h1>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>LienRdv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for praticien in praticiens %}
            <tr>
                <td>{{ praticien.id }}</td>
                <td>{{ praticien.prenom }}</td>
                <td>{{ praticien.nom }}</td>
                <td>{{ praticien.lienRdv ? (praticien.lienRdv) : "03.21.75.94.84" }}</td>
                <td>
                    <a href="{{ path('app_praticien_show', {'id': praticien.id}) }}">show</a>
                    <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_praticien_new') }}">Create new</a>
{% endblock %}
