{% extends 'base.html.twig' %}

{% block title %}Praticien{% endblock %}

{% block body %}
    <h1>Praticien</h1>

    <table class="table pure-table pure-table-horizontal">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ praticien.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ praticien.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ praticien.prenom }}</td>
            </tr>
            <tr>
                <th>LienRdv</th>
                <td>{{ praticien.lienRdv ? (praticien.lienRdv) : "03.21.75.94.84" }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_praticien_index') }}">Retour à la liste des praticiens</a>

    <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}">Modifier</a>

    {{ include('praticien/_delete_form.html.twig') }}
{% endblock %}
