{% extends 'base_front.html.twig' %}

{% block title %}Maison médicale Pasteur-Santes{% endblock %}

{% block body %}
    <div id="loader"></div>
    <div id="cacheBody"></div>

<section id="sectionPresentation">
    <h2>Maison médicale Pasteur-Santes</h2>
</section>
<main id="main">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#1fb9ac" fill-opacity="0.5" d="M0,32L60,42.7C120,53,240,75,360,96C480,117,600,139,720,122.7C840,107,960,53,1080,48C1200,43,1320,85,1380,106.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>

    <section id="sectionNews">
        <h3>Actualités</h3>
            {% for newsTag in newsTags %}
                <article class="containerNews">
                    <a href='{{ path('app_front_articles_show', {'id': newsTag.new.id}) }} ' aria-label="Lien vers l'article qui a pour titre {{ newsTag.new.titre }}">
                        
                        <p class="titreArticle">{{ newsTag.new.titre }}</p>
                        <p class="resumeArticle">{{ newsTag.new.resume | u.truncate(40, '...', false) }}</p>

                    </a>
                </article> 
            {% endfor %}
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#1fb9ac" fill-opacity="0.5" d="M0,96L60,117.3C120,139,240,181,360,213.3C480,245,600,267,720,245.3C840,224,960,160,1080,144C1200,128,1320,160,1380,176L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
    <section id="sectionFaq">

        <h3>Foire Aux Questions</h3>
        <span id="faqExpandDiv">
            <button id="faqExpand" aria-expanded="false" role='button' aria-controls="sectionFaq" aria-label="Ouvrir toutes les réponses">Ouvrir toutes les réponses</button>
        </span>
        {% for faq in faqs %}

            <div aria-controls="faqReponse{{faq.id}}" aria-expanded="false" tabindex="0" role="button">
                <p class="faqQuestion" lang="fr">{{ faq.question }} 
                    <span class="faqSpan">+</span>
                </p>
                <p class="reponseHide faqReponse" id="faqReponse{{faq.id}}" aria-hidden="true" lang="fr">{{ faq.reponse }}</p>
            </div>

        {% endfor %}
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#1fb9ac" fill-opacity="0.5" d="M0,96L60,112C120,128,240,160,360,165.3C480,171,600,149,720,128C840,107,960,85,1080,101.3C1200,117,1320,171,1380,197.3L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>

    <section id="sectionAcces">
        <div id="sectionAccesText">
        
            <h4>
                <i class="fa-sharp fa-solid fa-map-location-dot fa-2xl" aria-hidden="true"></i>
                Accès
            </h4>
            <span>
                <p>
                    Les médecins et infirmiers de la Maison médicale Pasteur Santes vous accueillent à l'adresse suivante :
                </p>

                <address>
                    <p>33 B avenue Albert Bernard, 59211 Santes</p>
                    <p>Centre ville, à 100 mètres de la mairie</p>
                </address>
            </span>
            <span>
                <p>Pour venir à votre rendez-vous</p>
                <p>Parking à proximité<br>
                Bus : arrêt Hôtel de ville (ligne 58)<br>
                TER : Gare de Santes (8min de Lille)</p>
            </span>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.0344510818522!2d2.961974476717986!3d50.58931297735548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd2b10851cce87%3A0x3ed8a9001498e9d5!2s33%20Av.%20Albert%20Bernard%2C%2059211%20Santes!5e0!3m2!1sen!2sfr!4v1698219777820!5m2!1sen!2sfr" width="600" height="450" title="plan google map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" aria-hidden="true" tabindex="-1"></iframe>    
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#1fb9ac" fill-opacity="0.5" d="M0,160L40,144C80,128,160,96,240,74.7C320,53,400,43,480,48C560,53,640,75,720,96C800,117,880,139,960,149.3C1040,160,1120,160,1200,144C1280,128,1360,96,1400,80L1440,64L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
    </svg>
    
    <section id="sectionPraticien">
            <h5>Les Praticiens</h5>
            {% for praticiensMetiers in praticiensMetiers %}
                <div class="containerPraticien">
                    {% if praticiensMetiers.praticien.imageName %}
                        <div class="praticienImg">
                            <img loading="lazy" src="{{ vich_uploader_asset(praticiensMetiers.praticien, 'imageFile') }}" alt="photo de {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom }}" >
                        </div>
                    {% else %}
                    <div class="praticienImg">
                        <svg enable-background="new 0 0 38.1 38.1" version="1.1" viewBox="0 0 38.1 38.1" xmlns="http://www.w3.org/2000/svg" alt="photo de {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom }}">
                            <style type="text/css">.st0{fill:#00A5CB;} .st1{fill:#0190B0;} .st2{fill:#FFFFFF;} .st3{fill:#F2F2F2;}</style>
                            <path class="st0" d="M19,38.8C8.6,40.8,0.2,31.4,0,19S8.6,0.1,19,0"/>
                            <path class="st1" d="M19,0c10.4,0,20.8,8.4,20.8,18.8S29.4,37.8,19,37.8"/>
                            <circle class="st2" cx="8.2" cy="27.5" r="2.7"/>
                            <circle class="st2" cx="17.5" cy="3.2" r="1.1"/>
                            <circle class="st2" cx="20.5" cy="3.2" r="1.1"/>
                            <path class="st2" d="m14.3 13.7l0.2 1c0.5-0.2 0.9-0.4 1.4-0.6 2.5-0.8 5-0.6 7.3 0.6h0.1l0.2-1c-2.5-1.2-5.2-1.4-7.9-0.5-0.5 0.1-0.9 0.3-1.3 0.5z"/>
                            <path class="st2" d="m18.1 2.2z"/>
                            <path class="st2" d="m30 22.8c-0.4-3.2-2.3-6.2-5-8.1l-0.2 1.1c2.3 1.8 3.8 4.4 4.2 7.1 0.4 2.8-0.6 5.4-2.6 7.3-1.1 1-2.9 1.5-4.3 1.2-0.8-0.2-1.8-0.6-2.4-1.9-0.2-0.5-0.3-1-0.5-1.5-0.1-0.5-0.2-0.9-0.2-1.4 0.1-0.5 0.2-1.1 0.5-1.6 0.1-0.3 0.2-0.5 0.4-0.7 0.1-0.2 0.3-0.4 0.5-0.5 0.4-0.3 0.8-0.5 1.1-0.8 0.6-0.5 1-1.2 1.3-1.9 0.9-1.8 1.3-3.7 1.6-5.5l0.2-1.1c0.3-1.9 0.6-3.8 0.8-6.1v-0.3c0.2-1.6 0.3-3.5-0.9-4.8-0.8-0.9-2-1-3.1-0.9 0.3 0.2 0.4 0.5 0.4 0.9v0.1c0.8 0 1.5 0.1 2 0.6 1 1 0.8 2.6 0.7 4v0.3c-0.2 2.1-0.4 4-0.7 5.7l-0.2 1c-0.3 1.9-0.7 3.9-1.6 5.6-0.3 0.5-0.6 1.1-1.1 1.6-0.1 0.1-0.2 0.1-0.3 0.2-0.1 0-0.2 0.1-0.3 0.2-0.5 0.3-1.1 0.4-1.7 0.3-0.1 0-0.2 0-0.3-0.1-1.2-0.3-2.4-1.4-2.9-2.7-0.6-1.6-1-3.2-1.3-4.8l-0.2-1.4-0.3-2.1c-0.1-0.5-0.1-0.9-0.2-1.4-0.3-2-0.7-4.1 0.2-5.7 0.6-1.1 1.6-1.5 2.6-1.6v-0.1c0-0.4 0.2-0.7 0.5-0.9-1.8 0-3.3 0.8-4 2.2-1 2-0.6 4.3-0.3 6.4 0.1 0.5 0.2 0.9 0.2 1.4 0.1 0.8 0.2 1.6 0.4 2.5l0.2 1.1c0.3 1.7 0.7 3.3 1.3 4.9 0.2 0.6 0.6 1.1 1 1.6 0.2 0.2 0.5 0.4 0.7 0.7 0.3 0.3 0.7 0.5 0.9 0.9 0.3 0.4 0.7 0.9 0.9 1.5 0.2 0.7 0.2 1.5 0.3 2.2 0.1 0.9 0.3 1.7 0.7 2.5 0.6 1.3 1.7 2.2 3.1 2.5 0.4 0.1 0.7 0.1 1.1 0.1 1.4 0 2.9-0.6 4-1.5 2.2-2.3 3.3-5.2 2.8-8.3z"/>
                            <path class="st2" d="m8.2 19.8c-0.7 1.5-1 3-0.9 4.4l1-0.1c-0.1-1.2 0.2-2.6 0.8-3.9 0.9-1.8 2.1-3.2 3.6-4.4l-0.2-1.1c-1.7 1.3-3.3 3-4.3 5.1z"/>
                        </svg>
                    </div>
                    {% endif %}
                    <div class="containerPraticienText">
                        <p>{{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom }}</p>
                        <p>{{ praticiensMetiers.metiers|join(', ')}}</p>
                        
                        {% if praticiensMetiers.praticien.lienRdv %}
                            <button class="cardBtn" onclick="window.open('{{ praticiensMetiers.praticien.lienRdv | e }}', target='_blank')" aria-label="prendre rendez-vous en ligne avec {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom  }}">Prendre R.D.V en ligne</button>
                        {% else %}
                            <button class="cardBtn" onclick="window.location.href = 'tel:0321759484' " aria-label="prendre rendez-vous par téléphone avec {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom  }}">Tel : 03 21 75 94 84</button>
                        {% endif %}
                        {% if praticiensMetiers.praticien.joursOff %}
                            <p class="texteDyn">Tous les jours sauf {{ praticiensMetiers.praticien.joursOff }}</p>
                        {% else %}
                            <p class="texteDyn">Tous les jours</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    </section>
</main>
{% endblock %}
