{% extends 'base_front.html.twig' %}

{% block title %}Maison médicale Pasteur-Santes{% endblock %}

{% block body %}
    <div id="loader"></div>
    <div id="cacheBody"></div>

<section id="sectionPresentation">
    <h2>Maison médicale Pasteur-Santes</h2>
</section>
<main id="main">
    <svg viewBox="0 0 1400 320" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" aria-hidden="true">
        <path fill-opacity="0.5" d="M0 174L46.7 174.7C93.3 175.3 186.7 176.7 280 173.5C373.3 170.3 466.7 162.7 560 156.3C653.3 150 746.7 145 840 148C933.3 151 1026.7 162 1120 166.8C1213.3 171.7 1306.7 170.3 1353.3 169.7L1400 169L1400 0L1353.3 0C1306.7 0 1213.3 0 1120 0C1026.7 0 933.3 0 840 0C746.7 0 653.3 0 560 0C466.7 0 373.3 0 280 0C186.7 0 93.3 0 46.7 0L0 0Z" fill="#a9f4e6" ></path>
        <path  fill-opacity="0.5" d="M0 98L46.7 103.8C93.3 109.7 186.7 121.3 280 121.8C373.3 122.3 466.7 111.7 560 110.3C653.3 109 746.7 117 840 115C933.3 113 1026.7 101 1120 97.2C1213.3 93.3 1306.7 97.7 1353.3 99.8L1400 102L1400 0L1353.3 0C1306.7 0 1213.3 0 1120 0C1026.7 0 933.3 0 840 0C746.7 0 653.3 0 560 0C466.7 0 373.3 0 280 0C186.7 0 93.3 0 46.7 0L0 0Z" fill="#71d6c8" ></path>
        <path  fill-opacity="0.5" d="M0 42L46.7 43.8C93.3 45.7 186.7 49.3 280 55C373.3 60.7 466.7 68.3 560 68.3C653.3 68.3 746.7 60.7 840 57.5C933.3 54.3 1026.7 55.7 1120 58.7C1213.3 61.7 1306.7 66.3 1353.3 68.7L1400 71L1400 0L1353.3 0C1306.7 0 1213.3 0 1120 0C1026.7 0 933.3 0 840 0C746.7 0 653.3 0 560 0C466.7 0 373.3 0 280 0C186.7 0 93.3 0 46.7 0L0 0Z" fill="#1fb9ac" ></path>
    </svg>

    <section id="sectionNews">
        <h3>Actualités</h3>
            {% for newsTag in newsTags %}
                <div class="containerNews">
                    <a href='{{ path('app_front_articles_show', {'id': newsTag.new.id}) }} ' aria-label="Lien vers l'article qui a pour titre {{ newsTag.new.titre }}">
                        
                        <p class="titreArticle">{{ newsTag.new.titre }}</p>
                        <p class="resumeArticle">{{ newsTag.new.resume | u.truncate(40, '...', false) }}</p>

                    </a>
                </div> 
            {% endfor %}
    </section>
    <svg viewBox="0 0 1400 320" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" aria-hidden="true">
        <path fill-opacity="0.5" d="M0 134L33.3 144.8C66.7 155.7 133.3 177.3 200 180.8C266.7 184.3 333.3 169.7 400 172.7C466.7 175.7 533.3 196.3 600 201.5C666.7 206.7 733.3 196.3 800 194.2C866.7 192 933.3 198 1000 198.2C1066.7 198.3 1133.3 192.7 1200 188.2C1266.7 183.7 1333.3 180.3 1366.7 178.7L1400 177L1400 321L1366.7 321C1333.3 321 1266.7 321 1200 321C1133.3 321 1066.7 321 1000 321C933.3 321 866.7 321 800 321C733.3 321 666.7 321 600 321C533.3 321 466.7 321 400 321C333.3 321 266.7 321 200 321C133.3 321 66.7 321 33.3 321L0 321Z" fill="#a9f4e6"></path>
        <path fill-opacity="0.5" d="M0 184L33.3 191.7C66.7 199.3 133.3 214.7 200 218C266.7 221.3 333.3 212.7 400 208.7C466.7 204.7 533.3 205.3 600 211.5C666.7 217.7 733.3 229.3 800 228.7C866.7 228 933.3 215 1000 208.3C1066.7 201.7 1133.3 201.3 1200 207.5C1266.7 213.7 1333.3 226.3 1366.7 232.7L1400 239L1400 321L1366.7 321C1333.3 321 1266.7 321 1200 321C1133.3 321 1066.7 321 1000 321C933.3 321 866.7 321 800 321C733.3 321 666.7 321 600 321C533.3 321 466.7 321 400 321C333.3 321 266.7 321 200 321C133.3 321 66.7 321 33.3 321L0 321Z" fill="#71d6c8"></path>
        <path fill-opacity="0.5" d="M0 260L33.3 265.3C66.7 270.7 133.3 281.3 200 282.7C266.7 284 333.3 276 400 269.5C466.7 263 533.3 258 600 254.3C666.7 250.7 733.3 248.3 800 253.2C866.7 258 933.3 270 1000 277.5C1066.7 285 1133.3 288 1200 284.5C1266.7 281 1333.3 271 1366.7 266L1400 261L1400 321L1366.7 321C1333.3 321 1266.7 321 1200 321C1133.3 321 1066.7 321 1000 321C933.3 321 866.7 321 800 321C733.3 321 666.7 321 600 321C533.3 321 466.7 321 400 321C333.3 321 266.7 321 200 321C133.3 321 66.7 321 33.3 321L0 321Z" fill="#1fb9ac"></path>
    </svg>
    <section id="sectionFaq">

        <h3>Foire Aux Questions</h3>
        <span id="faqExpandDiv">
            <button id="faqExpand" aria-expanded="false" aria-controls="sectionFaq" aria-label="Ouvrir toutes les réponses">Ouvrir toutes les réponses</button>
        </span>
        {% for faq in faqs %}

            <div aria-controls="faqReponse{{faq.id}}" aria-expanded="false" tabindex="0" role="button">
                <p class="faqQuestion" lang="fr">{{ faq.question }} 
                    <span class="faqSpan" aria-hidden="true">+</span>
                </p>
                <p class="reponseHide faqReponse" id="faqReponse{{faq.id}}" aria-hidden="true" lang="fr">{{ faq.reponse }}</p>
            </div>

        {% endfor %}
    </section>

    <svg viewBox="0 0 1400 320" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" aria-hidden="true">
        <path fill-opacity="0.5" d="M0 168L33.3 168.2C66.7 168.3 133.3 168.7 200 168C266.7 167.3 333.3 165.7 400 170.2C466.7 174.7 533.3 185.3 600 184C666.7 182.7 733.3 169.3 800 169.3C866.7 169.3 933.3 182.7 1000 181.2C1066.7 179.7 1133.3 163.3 1200 159.5C1266.7 155.7 1333.3 164.3 1366.7 168.7L1400 173L1400 0L1366.7 0C1333.3 0 1266.7 0 1200 0C1133.3 0 1066.7 0 1000 0C933.3 0 866.7 0 800 0C733.3 0 666.7 0 600 0C533.3 0 466.7 0 400 0C333.3 0 266.7 0 200 0C133.3 0 66.7 0 33.3 0L0 0Z" fill="#a9f4e6"></path>
        <path fill-opacity="0.5" d="M0 126L33.3 127.7C66.7 129.3 133.3 132.7 200 129.8C266.7 127 333.3 118 400 112.3C466.7 106.7 533.3 104.3 600 107C666.7 109.7 733.3 117.3 800 119.3C866.7 121.3 933.3 117.7 1000 115.8C1066.7 114 1133.3 114 1200 115.3C1266.7 116.7 1333.3 119.3 1366.7 120.7L1400 122L1400 0L1366.7 0C1333.3 0 1266.7 0 1200 0C1133.3 0 1066.7 0 1000 0C933.3 0 866.7 0 800 0C733.3 0 666.7 0 600 0C533.3 0 466.7 0 400 0C333.3 0 266.7 0 200 0C133.3 0 66.7 0 33.3 0L0 0Z" fill="#71d6c8"></path>
        <path fill-opacity="0.5" d="M0 50L33.3 54.8C66.7 59.7 133.3 69.3 200 70.8C266.7 72.3 333.3 65.7 400 60C466.7 54.3 533.3 49.7 600 47.8C666.7 46 733.3 47 800 52C866.7 57 933.3 66 1000 66.5C1066.7 67 1133.3 59 1200 57.7C1266.7 56.3 1333.3 61.7 1366.7 64.3L1400 67L1400 0L1366.7 0C1333.3 0 1266.7 0 1200 0C1133.3 0 1066.7 0 1000 0C933.3 0 866.7 0 800 0C733.3 0 666.7 0 600 0C533.3 0 466.7 0 400 0C333.3 0 266.7 0 200 0C133.3 0 66.7 0 33.3 0L0 0Z" fill="#1fb9ac"></path>
    </svg>

    <section id="sectionAcces">
        <div id="sectionAccesText">
        
            <h3 id="titreAcces">
                <i loading="lazy" class="fa-sharp fa-solid fa-map-location-dot fa-xl" aria-hidden="true"></i>
                Accès
            </h3>
            <div>
                <p>
                    Les médecins et infirmiers de la Maison médicale Pasteur Santes vous accueillent à l'adresse suivante :
                </p>

                <address>
                    <p>33 B avenue Albert Bernard, 59211 Santes</p>
                    <p>Centre ville, à 100 mètres de la mairie</p>
                </address>
            </div>
            <div>
                <p>Pour venir à votre rendez-vous</p>
                <p>Parking à proximité<br>
                Bus : arrêt Hôtel de ville (ligne 58)<br>
                TER : Gare de Santes (8min de Lille)</p>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.0344510818522!2d2.961974476717986!3d50.58931297735548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd2b10851cce87%3A0x3ed8a9001498e9d5!2s33%20Av.%20Albert%20Bernard%2C%2059211%20Santes!5e0!3m2!1sen!2sfr!4v1698219777820!5m2!1sen!2sfr" width="600" height="450" title="plan google map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" aria-hidden="true" tabindex="-1"></iframe>    
    </section>

    <svg viewBox="0 0 1400 320" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" aria-hidden="true">
        <path fill-opacity="0.5" d="M0 162L33.3 159.5C66.7 157 133.3 152 200 150C266.7 148 333.3 149 400 153.5C466.7 158 533.3 166 600 171.2C666.7 176.3 733.3 178.7 800 175.5C866.7 172.3 933.3 163.7 1000 162C1066.7 160.3 1133.3 165.7 1200 170.5C1266.7 175.3 1333.3 179.7 1366.7 181.8L1400 184L1400 0L1366.7 0C1333.3 0 1266.7 0 1200 0C1133.3 0 1066.7 0 1000 0C933.3 0 866.7 0 800 0C733.3 0 666.7 0 600 0C533.3 0 466.7 0 400 0C333.3 0 266.7 0 200 0C133.3 0 66.7 0 33.3 0L0 0Z" fill="#a9f4e6"></path>
        <path fill-opacity="0.5" d="M0 135L33.3 131.5C66.7 128 133.3 121 200 118.8C266.7 116.7 333.3 119.3 400 120.2C466.7 121 533.3 120 600 119.8C666.7 119.7 733.3 120.3 800 119.3C866.7 118.3 933.3 115.7 1000 114.5C1066.7 113.3 1133.3 113.7 1200 111.2C1266.7 108.7 1333.3 103.3 1366.7 100.7L1400 98L1400 0L1366.7 0C1333.3 0 1266.7 0 1200 0C1133.3 0 1066.7 0 1000 0C933.3 0 866.7 0 800 0C733.3 0 666.7 0 600 0C533.3 0 466.7 0 400 0C333.3 0 266.7 0 200 0C133.3 0 66.7 0 33.3 0L0 0Z" fill="#71d6c8"></path>
        <path fill-opacity="0.5" d="M0 49L33.3 52.7C66.7 56.3 133.3 63.7 200 64C266.7 64.3 333.3 57.7 400 59.5C466.7 61.3 533.3 71.7 600 75.3C666.7 79 733.3 76 800 69.8C866.7 63.7 933.3 54.3 1000 55C1066.7 55.7 1133.3 66.3 1200 69.8C1266.7 73.3 1333.3 69.7 1366.7 67.8L1400 66L1400 0L1366.7 0C1333.3 0 1266.7 0 1200 0C1133.3 0 1066.7 0 1000 0C933.3 0 866.7 0 800 0C733.3 0 666.7 0 600 0C533.3 0 466.7 0 400 0C333.3 0 266.7 0 200 0C133.3 0 66.7 0 33.3 0L0 0Z" fill="#1fb9ac"></path>
    </svg>
    
    <section id="sectionPraticien">
            <h3>Les Praticiens</h3>
            {% for praticiensMetiers in praticiensMetiers %}
                <div class="containerPraticien" aria-label="praticien {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom }}" role="group">
                    {% if praticiensMetiers.praticien.imageName %}
                        <div class="praticienImg">
                            <img loading="lazy" src="{{ vich_uploader_asset(praticiensMetiers.praticien, 'imageFile') | imagine_filter('webp_80') }}" alt="" >
                        </div>
                    {% else %}
                        <div class="praticienImg">
                            <svg alt="" enable-background="new 0 0 38.1 38.1" version="1.1" viewBox="0 0 38.1 38.1" xmlns="http://www.w3.org/2000/svg" >
                                <style type="text/css">.st0{fill:#00A5CB;} .st1{fill:#0190B0;} .st2{fill:#FFFFFF;} .st3{fill:#F2F2F2;}</style>
                                <path class="st0" d="M19,38.8C8.6,40.8,0.2,31.4,0,19S8.6,0.1,19,0"/>
                                <path class="st1" d="M19,0c10.4,0,20.8,8.4,20.8,18.8S29.4,37.8,19,40.8"/>
                                <circle class="st2" cx="8.2" cy="27.5" r="2.7"/>
                                <circle class="st2" cx="17.5" cy="3.2" r="1.1"/>
                                <circle class="st2" cx="20.5" cy="3.2" r="1.1"/>
                                <path class="st2" d="m14.3 13.7l0.2 1c0.5-0.2 0.9-0.4 1.4-0.6 2.5-0.8 5-0.6 7.3 0.6h0.1l0.2-1c-2.5-1.2-5.2-1.4-7.9-0.5-0.5 0.1-0.9 0.3-1.3 0.5z"/>
                                <path class="st2" d="m18.1 2.2z"/>
                                <path class="st2" d="m30 22.8c-0.4-3.2-2.3-6.2-5-8.1l-0.2 1.1c2.3 1.8 3.8 4.4 4.2 7.1 0.4 2.8-0.6 5.4-2.6 7.3-1.1 1-2.9 1.5-4.3 1.2-0.8-0.2-1.8-0.6-2.4-1.9-0.2-0.5-0.3-1-0.5-1.5-0.1-0.5-0.2-0.9-0.2-1.4 0.1-0.5 0.2-1.1 0.5-1.6 0.1-0.3 0.2-0.5 0.4-0.7 0.1-0.2 0.3-0.4 0.5-0.5 0.4-0.3 0.8-0.5 1.1-0.8 0.6-0.5 1-1.2 1.3-1.9 0.9-1.8 1.3-3.7 1.6-5.5l0.2-1.1c0.3-1.9 0.6-3.8 0.8-6.1v-0.3c0.2-1.6 0.3-3.5-0.9-4.8-0.8-0.9-2-1-3.1-0.9 0.3 0.2 0.4 0.5 0.4 0.9v0.1c0.8 0 1.5 0.1 2 0.6 1 1 0.8 2.6 0.7 4v0.3c-0.2 2.1-0.4 4-0.7 5.7l-0.2 1c-0.3 1.9-0.7 3.9-1.6 5.6-0.3 0.5-0.6 1.1-1.1 1.6-0.1 0.1-0.2 0.1-0.3 0.2-0.1 0-0.2 0.1-0.3 0.2-0.5 0.3-1.1 0.4-1.7 0.3-0.1 0-0.2 0-0.3-0.1-1.2-0.3-2.4-1.4-2.9-2.7-0.6-1.6-1-3.2-1.3-4.8l-0.2-1.4-0.3-2.1c-0.1-0.5-0.1-0.9-0.2-1.4-0.3-2-0.7-4.1 0.2-5.7 0.6-1.1 1.6-1.5 2.6-1.6v-0.1c0-0.4 0.2-0.7 0.5-0.9-1.8 0-3.3 0.8-4 2.2-1 2-0.6 4.3-0.3 6.4 0.1 0.5 0.2 0.9 0.2 1.4 0.1 0.8 0.2 1.6 0.4 2.5l0.2 1.1c0.3 1.7 0.7 3.3 1.3 4.9 0.2 0.6 0.6 1.1 1 1.6 0.2 0.2 0.5 0.4 0.7 0.7 0.3 0.3 0.7 0.5 0.9 0.9 0.3 0.4 0.7 0.9 0.9 1.5 0.2 0.7 0.2 1.5 0.3 2.2 0.1 0.9 0.3 1.7 0.7 2.5 0.6 1.3 1.7 2.2 3.1 2.5 0.4 0.1 0.7 0.1 1.1 0.1 1.4 0 2.9-0.6 4-1.5 2.2-2.3 3.3-5.2 2.8-8.3z"/>
                                <path class="st2" d="m8.2 19.8c-0.7 1.5-1 3-0.9 4.4l1-0.1c-0.1-1.2 0.2-2.6 0.8-3.9 0.9-1.8 2.1-3.2 3.6-4.4l-0.2-1.1c-1.7 1.3-3.3 3-4.3 5.1z"/>
                            </svg>
                        </div>
                    {% endif %}

                    <div class="containerPraticienText">
                    <div>
                        <p>{{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom }}</p>
                        <p>{{ praticiensMetiers.metiers|join(', ')}}</p>
                        
                        {% if praticiensMetiers.praticien.lienRdv %}
                            <button class="cardBtn" onclick="window.open('{{ praticiensMetiers.praticien.lienRdv | e }}', target='_blank')" aria-label="prendre rendez-vous en ligne avec {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom  }}">Prendre R.D.V en ligne</button>
                        {% else %}
                            <button class="cardBtn" onclick="window.location.href = 'tel:0321759484' " aria-label="prendre rendez-vous par téléphone avec {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom  }}">Tel : 03 21 75 94 84</button>
                        {% endif %}
                    </div>
                    <div>
                        {% if praticiensMetiers.praticien.joursOff %}
                            <p class="texteDyn">Tous les jours sauf {{ praticiensMetiers.praticien.joursOff }}</p>
                        {% else %}
                            <p class="texteDyn">Tous les jours</p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            {% endfor %}
    </section>
</main>
{% endblock %}
