{% extends 'base.html.twig' %}

{% block title %}Maison médicale Pasteur-Santes{% endblock %}

{% block body %}

<section>
<h2>Test section faq</h2>
{% for faq in faqs %}

    <div>
        <p>{{ faq.question }}</p>
        <p>{{ faq.reponse }}</p>
    </div>

{% endfor %}
</section>

<section>
    <h2>Test section news</h2>
    {% for newsTag in newsTags %}

    <div>
        <p>Date : {{ newsTag.new.updatedAt|date('d/m/Y') }}</p>
        <p>Categorie : {{ newsTag.tags|join(', ') }}</p>
        <p>{{ newsTag.new.resume }}</p>
    </div>
    <hr>

    {% endfor %}
</section>

<section>
    <h2>Test section praticien/rdv</h2>
    {% for praticiensMetiers in praticiensMetiers %}
        <p>Praticien : {{ praticiensMetiers.praticien.nom }} {{ praticiensMetiers.praticien.prenom }}</p>
        <p>RDV : {{ praticiensMetiers.praticien.lienRdv ? (praticiensMetiers.praticien.lienRdv) : "0321759484" }} </p>
        <p>Métiers : {{ praticiensMetiers.metiers|join(', ') }} </p>
        <hr>
    {% endfor %}
</section>

{% endblock %}
