<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=" Maison médicale à Santes. Médecins généralistes, kinésithérapeute, orthophoniste ">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# FONTS #}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/fc1b66a4cc.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>


    <body>

        
        {% block topSection %}

            <a href="#main" id="skipToContent" class="skipHidden" aria-label="Aller directement au contenu principal">Aller au contenu principal</a>
               
            <div id="topSection">
                
                    <h1><a href="{{ path('app_front') }} " aria-label="Lien vers page d'accueil">Pasteur Santes</a></h1>
                
                <div id="topSectionAdresse">
                        <i class="fa-sharp fa-solid fa-house fa-2xl" aria-hidden="true"></i>
                    <p>
                        33 B av. Albert Bernard<br>
                        59211 Santes
                    </p>
                </div>
                <div id="topSectionTel">
                        <i class="fa-sharp fa-solid fa-phone fa-2xl" aria-hidden="true"></i>
                    <p>
                        <a href="tel:+33632147594" tabindex="-1">06 32 14 75 94</a>
                    </p>
                </div>
                <div id="topSectionBtn">
                    <button onclick="window.location.href ='{{ path('app_front') }}#sectionPraticien'" aria-label="Prendre rendez-vous">
                        Prendre RDV
                    </button>
                </div>
            
            </div>

        {% endblock %}

        {% block header %}
            <nav class="navbarFront">
                <ul class="nav-menu">
                    <li class="nav-item"  >
                        <a aria-label="Accueil" role="button" href="{{ path('app_front') }}" class="nav-link hvr-underline-from-center">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a aria-label="Actualités en bref" role="button" href="{{ path('app_front') }}#sectionNews" class="nav-link hvr-underline-from-center">
                            Actualités
                        </a>
                    </li>
                    <li class="nav-item" role="button" >
                        <a aria-label="Foire aux questions" role="button" href="{{ path('app_front') }}#sectionFaq" class="nav-link hvr-underline-from-center">
                            F A Q
                        </a>
                    </li>
                    <li class="nav-item" role="button" >
                        <a aria-label="Infos pratiques et accès" role="button" href="{{ path('app_front') }}#sectionAcces" class="nav-link hvr-underline-from-center">
                            Accès
                        </a>
                    </li>
                    <li class="nav-item" role="button" >
                        <a aria-label="Prendre rendez-vous" role="button" href="{{ path('app_front') }}#sectionPraticien" class="nav-link hvr-underline-from-center">
                            Prendre R D V
                        </a>
                    </li>
                    <li class="nav-item" role="button" >
                        <a aria-label="Voir tous les articles" role="button" href="{{ path('app_front_articles') }}" class="nav-link hvr-underline-from-center">
                            Articles
                        </a>
                    </li>                                                                                               
                </ul>

                <div class="hamburger" aria-label="Menu déroulant" role="button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>


            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer>
                <section id="bandeIcones">
                    <div class="iconeBande">
                        <i loading="lazy" class="fa-solid fa-heart-pulse" aria-hidden="true"></i>
                        <p>Soins Médicaux</p> 
                        <span>& Paramédicaux</span>
                    </div>

                    <div class="iconeBande">
                        <i loading="lazy" class="fa-solid fa-hand-holding-medical" aria-hidden="true"></i>
                        <p>Bienveillance</p>
                        <span>& Disponibilité</span>
                    </div>

                    <div class="iconeBande">
                        <i loading="lazy" class="fa-solid fa-stethoscope" aria-hidden="true"></i>
                        <p>Compétence</p>
                        <span>& Expérience</span>
                    </div>
                </section>

                <div id="footerTopContainer">
                        <div id="footerAdresse">
                            <i loading="lazy" class="fa-sharp fa-solid fa-house fa-2xl" aria-hidden="true"></i>
                            <address>
                                33B avenue Albert Bernard<br>
                                59211 Santes
                            </address>

                        </div>

                    <div id="footerTel">
                            <i loading="lazy" class="fa-sharp fa-solid fa-phone fa-2xl" aria-hidden="true"></i>
                            <p> Contactez le secrétariat :</p>
                            <a href="tel:+33632147594" tabindex="-1"> 06 32 14 75 94</a>
                    </div>
                </div>
                <p id="footerUrgence">En cas d'urgence, contacter le SAMU : 15</p>

                <div id="border"></div>

                <div id="mentionsLeg">
                    <a href="{{ path('app_front_mentions') }} ">Mentions Légales</a>
                </div>
            </footer>

            <div class="scrollToTheTop hide" onclick="window.location.href ='#topSection'" role="button" aria-label="Retour en haut de page">
                <i loading="lazy" class="fa-sharp fa-solid fa-angle-up fa-2xl "></i>
            </div>

        {% endblock %}


    </body>
</html>
