<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=" Maison médicale à Santes. Médecins généralistes, kinésithérapeute, orthophoniste ">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# FONTS #}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/fc1b66a4cc.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
        {% block topSection %}

            <div id="topSection">
                <a href="{{ path('app_front') }}"><h1>Maison Médicale Pasteur Santes</h1></a>
                <div id="topSectionAdresse">
                        <i class="fa-sharp fa-solid fa-house fa-2xl" aria-hidden="true"></i>
                    <p>
                        33B avenue Albert Bernard<br>
                        59211 Santes
                    </p>
                </div>
                <div id="topSectionTel">
                        <i class="fa-sharp fa-solid fa-phone fa-2xl" aria-hidden="true"></i>
                    <p>
                        <a href="tel:+33632147594">+33632147594</a>
                    </p>
                </div>
                <div><button onclick="window.location.href ='{{ path('app_front') }}#sectionPraticien'" aria-label="vers section prendre rendez-vous">Prendre RDV</button></div>
            
            </div>

        {% endblock %}

        {% block header %}
            <nav class="navbarFront">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{{ path('app_front') }}" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_front') }}#sectionNews" class="nav-link">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_front') }}#sectionFaq" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_front') }}#sectionAcces" class="nav-link">Accès</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_front') }}#sectionPraticien" class="nav-link">Prendre RDV</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_front_articles') }}" class="nav-link">Articles</a>
                    </li>                                                                                                    
                
                </ul>

                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>


            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div id="footerAdresse">
                        <i class="fa-sharp fa-solid fa-house fa-2xl" aria-hidden="true"></i>
                    <p>
                        33B avenue Albert Bernard<br>
                        59211 Santes
                    </p>
                </div>

                <div id="footerTel">
                        <i class="fa-sharp fa-solid fa-phone fa-2xl" aria-hidden="true"></i>
                    <p>
                        <a href="tel:+33632147594">+33632147594</a>
                    </p>
                </div>
                <div id="mentionsLeg">
                    <a href="#">Mentions Légales</a>
                </div>
            </footer>
            <a href="#" class="scrollToTheTop"  aria-label="Retour en haut de page"><i class="fa-sharp fa-solid fa-angle-up fa-2xl " style="color: #878c97;"></i></a>

        {% endblock %}


    </body>
</html>
