<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# FONTS #}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">
            {# CDN PureCss #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
            {# grids-responsive.css PureCss #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/fc1b66a4cc.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="custom-wrapper pure-g">
                <div class="pure-menu pure-u-md-1-4 ">
                    <a href="{{ path('app_front') }}" class="pure-menu-heading pure-menu-link custom-brand">
                        <p>PASTEUR SANTES</p>
                    </a>
                </div>
                <div class="pure-menu pure-menu-horizontal ctnListesNav pure-u-1-2">
                    <ul class="pure-menu-list liensMenu">
                        <li class="pure-menu-item">
                            <a href="{{ path('app_praticien_index') }}" class="pure-menu-link">Praticiens</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{{ path('app_metier_index') }}" class="pure-menu-link">Métiers</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{{ path('app_article_index') }}" class="pure-menu-link">Articles</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{{ path('app_tag_index') }}" class="pure-menu-link">Catégories</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{{ path('app_faq_index') }}" class="pure-menu-link">FAQ</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{{ path('app_editeur_index') }}" class="pure-menu-link">Editeurs</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{{ path('app_mentions_index') }}" class="pure-menu-link">Mentions</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{{ path('app_user_index') }}" class="pure-menu-link">Users</a>
                        </li>
                    </ul>
                </div>
                <div class="menuLogin pure-menu-horizontal pure-u-md-1-4">
                    {% if app.user %}
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item">
                                <a href="{{ path('app_logout') }}" class="pure-menu-link"> {{ app.user.userIdentifier }} >
                                    <i class="fa-sharp fa-solid fa-power-off fa-lg" style="color: #000000;"></i>
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item">
                                <a href="{{ path('app_login') }}" class="pure-menu-link">
                                    Connexion > <i class="fa-sharp fa-solid fa-power-off fa-lg" style="color: #000000;"></i>
                                </a>
                            </li>
                        </ul>
                    {% endif %} 
                </div>
            </div>

        {% endblock %}

        {% block body %}
        {% endblock %}


    </body>
</html>
