{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>

    <table class="table pure-table pure-table-horizontal">
    <a href="{{ path('app_tag_new') }}">Créer une nouvelle Catégorie</a>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.nom }}</td>
                <td>{{ tag.description }}</td>
                <td>
                    <a href="{{ path('app_tag_show', {'id': tag.id}) }}">Afficher</a>
                    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
