{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>

    <div class="btnContainer">
        <a href="{{ path('app_tag_new') }}">
            <button>Créer une nouvelle Catégorie</button>
        </a>
    </div>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.nom }}</td>
                <td>{{ tag.description }}</td>
                <div class="row">
                    <td class="column">
                        <a href="{{ path('app_tag_show', {'id': tag.id}) }}">
                            <button>
                                <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                                Afficher
                            </button>
                        </a>
                    </td>
                    <td class="column">
                        <a href="{{ path('app_tag_edit', {'id': tag.id}) }}">
                            <button>
                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                Modifier
                            </button>
                        </a>
                    </td>
                </div>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
