{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h2 class="titreIndex">Articles</h2>

    <div class="btnContainer">
        <a href="{{ path('app_article_new') }}">
            <button>Créer un Article</button>
        </a>
    </div>
    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description pour page d'accueil</th>
                <th>Créé le</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="tdIndex">{{ article.titre }}</td>
                <td class="tdIndex">{{ article.resume }}</td>
                <td class="tdIndex">{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td class="column btnTdIndex">
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">
                        <button class="afficherBtn">
                            <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                            Afficher
                        </button>
                    </a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">
                        <button>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            Modifier
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
