{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Liste de vos Articles</h1>

    <div class="btnContainer">
        <a href="{{ path('app_article_new') }}">
            <button>Créer Nouvel Article</button>
        </a>
    </div>
    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description pour page d'accueil</th>
                <th>Créé le</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.resume }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <div class="row">
                    <td class="column">
                        <a href="{{ path('app_article_show', {'id': article.id}) }}">
                            <button>
                                <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                                Afficher
                            </button>
                        </a>
                    </td>
                    <td class="column">
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}">
                            <button>
                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                Modifier
                            </button>
                        </a>
                    </td>
                </div>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
