{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_article_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>

        <h2>{{ article.titre }}</h2>
    </div>
    
    {# <table class="table">
        <tbody>
            <tr>
                <td>{{ article.contenu |raw }}</td>
            </tr>
            <tr>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table> #}

    <section>
        {% if article.imageName %}
            <div class="imgContainer">
                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.alt }} "/>
            </div>
        {% endif %}

        <article>
            {{ article.contenu |raw }}
            <div>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</div>
        </article>
    </section>


    <div class="btnRow">
        <div class="btnContainer">
            <a href="{{ path('app_article_edit', {'id': article.id}) }}">
                <button>Modifier</button>
            </a>
        </div>
        
        {{ include('article/_delete_form.html.twig') }}
    </div>

{% endblock %}
