{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="topContainer">
        <a href="{{ path('app_article_index') }}">
            <button class="previousBtn">Précédent</button>
        </a>

        <h1>{{ article.titre }}</h1>
    </div>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Message destiné à la page d'accueil</th>
                <td>{{ article.resume }}</td>
            </tr>
            <tr>
                <th>Contenu de l'Article</th>
                <td>{{ article.contenu |raw }}</td>
            </tr>
            <tr>
                <th>Créé le : </th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if article.imageName %}

    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.alt }} "/>

    {% endif %}

    <div class="btnRow">
        <div class="btnContainer">
            <a href="{{ path('app_article_edit', {'id': article.id}) }}">
                <button>Modifier</button>
            </a>
        </div>
        
        {{ include('article/_delete_form.html.twig') }}
    </div>

{% endblock %}
