{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Liste des users</h1>

    <div class="newBtn">
        <a href="{{ path('app_user_new') }}">
            <button>Creer un nouvel admin</button>
        </a>
    </div>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td class="column">
                    <button>
                        <i class="fa-regular fa-eye fa-lg" style="color: #000000;"></i>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                    </button>
                </td>
                <td class="column">
                    <button>
                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
