{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Liste des users</h1>

    <a href="{{ path('app_user_new') }}">
        <button>Creer un nouvel admin</button>
    </a>

    <table class="table pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th colspan="2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                </td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
